services:
  axoniq:
    image: "axoniq/axonserver:2024.2.15-jdk-17-nonroot"
    container_name: axon-server
    restart: always
    ports:
      - "8024:8024"
      - "8124:8124"
      - "8224:8224"
    environment:
      AXONIQ_AXONSERVER_NAME: axon-server-dev
      AXONIQ_AXONSERVER_HOSTNAME: localhost
      AXONIQ_AXONSERVER_DEVMODE_ENABLED: "true"
      AXONIQ_AXONSERVER_STANDALONE: "true"
    env_file:
      - .env

  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: amqp
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      RABBITMQ_DEFAULT_VHOST: /

  kconnect:
    image: debezium/connect:3.0.0.Final
    container_name: kconnect
    restart: always
    ports:
      - "8083:8083"
    environment:
      CONFIG_STORAGE_TOPIC: my_connect_configs
      OFFSET_STORAGE_TOPIC: my_connect_offsets
      STATUS_STORAGE_TOPIC: my_connect_statuses
      BOOTSTRAP_SERVERS: kafka1:19092
    links:
      - mysql_master
      - kafka1
    networks:
      - mysql-network
      - default
    depends_on:
      - mysql_master
      - kafka1

  mysql_master:
    image: mysql:oraclelinux9
    container_name: mysql-master
    restart: always
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: LuisPiquinRey
      MYSQL_DATABASE: product_master
    networks:
      - mysql-network
    volumes:
      - ./mysql/master.cnf:/etc/my.cnf

  mysql_slave:
    image: mysql:oraclelinux9
    container_name: mysql-slave
    restart: always
    ports:
      - "3309:3306"
    environment:
      MYSQL_ROOT_PASSWORD: LuisPiquinRey
      MYSQL_DATABASE: product_slave
    networks:
      - mysql-network
    volumes:
      - ./mysql/slave.cnf:/etc/my.cnf

  postgresql:
    image: postgres:14
    container_name: postgresql
    hostname: postgresql
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "conduktor-console"
      POSTGRES_USER: "conduktor"
      POSTGRES_PASSWORD: "LuisPiquinRey"
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
    volumes:
      - pg_data:/var/lib/postgresql/data

  conduktor-console:
    image: conduktor/conduktor-console:1.38.0
    container_name: conduktor-console
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - conduktor_data:/var/conduktor
    environment:
      CDK_DATABASE_URL: "postgresql://conduktor:LuisPiquinRey@postgresql:5432/conduktor-console"
      CDK_CLUSTERS_0_ID: "default"
      CDK_CLUSTERS_0_NAME: "Debezium cluster"
      CDK_CLUSTERS_0_COLOR: "#0013E7"
      CDK_CLUSTERS_0_BOOTSTRAPSERVERS: "PLAINTEXT://kafka1:19092"

      # --- Kafka Connect integration ---
      CDK_CONNECT_0_ID: "debezium-connect"
      CDK_CONNECT_0_NAME: "Debezium Connect"
      CDK_CONNECT_0_BOOTSTRAP: "http://kconnect:8083"

    depends_on:
      - postgresql
      - kafka1
      - kconnect

  kafka1:
    image: confluentinc/cp-kafka:8.0.0
    hostname: kafka1
    container_name: kafka1
    restart: always
    ports:
      - "9092:9092"
      - "29092:29092"
      - "9999:9999"  # JMX
      - "9099:9099"  # Internal inter-broker communication
    environment:
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka1:9099"
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:19092,EXTERNAL://0.0.0.0:9092,DOCKER://0.0.0.0:29092,CONTROLLER://0.0.0.0:9099
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka1:19092,EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092,DOCKER://host.docker.internal:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,DOCKER:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTHORIZER_CLASS_NAME: org.apache.kafka.metadata.authorizer.StandardAuthorizer
      KAFKA_ALLOW_EVERYONE_IF_NO_ACL_FOUND: "true"
  redis:
    image: redis:latest
    container_name: redis-container
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: always
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.0
    container_name: keycloak
    restart: always
    ports:
      - "9030:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: mysql
      KC_DB_URL_HOST: mysql-master
      KC_DB_URL_PORT: 3306
      KC_DB_USERNAME: root
      KC_DB_PASSWORD: LuisPiquinRey
      KC_DB_DATABASE: keycloak
      KC_ADMIN: admin
      KC_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
    command: start-dev
    depends_on:
      - mysql_master
    networks:
      - mysql-network

volumes:
  pg_data: {}
  conduktor_data: {}
  redis-data: {}

networks:
  mysql-network:
    driver: bridge
