apiVersion: v1
kind: Deployment
metadata:
  name: rabbitmq
  labels:
    release: testing
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        release: testing
    spec:
      dnsPolicy: None
      containers:
        - name: rabbitmq
          image: 'rabbitmq:3.11-management'
          ports:
            - containerPort: 15672
            - containerPort: 5672
          env:
            - name: RABBITMQ_DEFAULT_VHOST
              value: /
            - name: RABBITMQ_DEFAULT_PASS
              value: guest
            - name: RABBITMQ_DEFAULT_USER
              value: guest

