spring:
  ai:
    ollama:
      chat:
        options:
          model: qwen3:0.6b
    chat:
      client:
        enabled: false
  vectorstore:
    qdrant:
      initialize-schema: true
      host: localhost
      port: 6334
      collection-name: context-luispiquinrey
server:
  port: 7779
