server:
  port: 9012

spring:
  data:
    mongodb:
      uri: ${URI_MONGODB}
      database: cart
  kafka:
    bootstrap-servers: localhost:29092,localhost:39092,localhost:49092
    consumer:
      group-id: user-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

eureka:
  instance:
    preferIpAddress: true
  client: 
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: "http://localhost:8761/eureka"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

axon:
  axonserver:
    servers: localhost:8124

axoniq:
  console:
    application-name: Shopping-axion
    credentials: ${CREDENTIALS_AXION}
    dlq-mode: FULL
