spring: 
  kafka:
    bootstrap-servers: localhost:29092,localhost:39092,localhost:49092
    consumer:
      group-id: user-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:9030/realms/SagaDev/protocol/openid-connect/certs
          issuer-uri: http://localhost:9030/realms/SagaDev
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: user-knot
            client-secret: Qb9cyxG1cNDPNiM5jwDBWWuoDzMJ7Vtt
            authorization-grant-type: authorization_code
            scope:
              - openid
              - profile
        provider:
          keycloak:
            issuer-uri: http://localhost:9030/realms/SagaDev
eureka:
  instance:
    preferIpAddress: true
  client: 
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: "http://localhost:8761/eureka"
  management:
    endpoints:
      web:
        exposure:
          include: "*"
    endpoint:
      health:
        show-details: ALWAYS
axon:
  axonserver:
    servers: localhost:8124
axoniq:
  console:
    application-name: Shopping-axion
    credentials: ${CREDENTIALS_AXION}
    dlq-mode: FULL
