spring:
  logging:
    file:
      name: logs/user.log
    logback:
      rollingpolicy:
        clean-history-on-start: true
        max-file-size: 100MB
    charset:
      console: UTF-8
      file: UTF-8
eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: "http://localhost:8761/eureka"
  management:
    health:
      readiness-state:
        enabled: true
      liveness-state:
        enabled: true
    tracing:
      sampling:
        probability: 1.0
    endpoints:
      web:
        exposure:
          include: "*"
    endpoint:
      prometheus:
        enabled: true
      health:
        show-details: ALWAYS
axon:
  axonserver:
    servers: localhost:8124
axoniq:
  console:
    application-name: Shopping-axion
    credentials: ${CREDENTIALS_AXION}
    dlq-mode: FULL
server:
  port: 9098
