spring:
  data:
    redis:
      sentinel:
        master: mymaster
        nodes:
          - redis-sentinel-1:26379
          - redis-sentinel-2:26379
          - redis-sentinel-3:26379
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
        shutdown-timeout: 100ms

  cache:
    type: redis
    redis:
      time-to-live: 300000
      cache-null-values: false
  logging:
    file:
      name: logs/user.log
    logback:
      rollingpolicy:
        clean-history-on-start: true
        max-file-size: 100MB
    charset:
      console: UTF-8
      file: UTF-8
  datasource:
    url: jdbc:mysql://localhost:3308/user_master
    username: root
    password: LuisPiquinRey
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect
eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: "http://localhost:8761/eureka"
  management:
    health:
      readiness-state:
        enabled: true
      liveness-state:
        enabled: true
    tracing:
      sampling:
        probability: 1.0
    endpoints:
      web:
        exposure:
          include: "*"
    endpoint:
      prometheus:
        enabled: true
      health:
        show-details: ALWAYS
axon:
  axonserver:
    servers: localhost:8124
axoniq:
  console:
    application-name: Shopping-axion
    credentials: ${CREDENTIALS_AXION}
    dlq-mode: FULL
server:
  port: 9098
