body {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(#101010 0.9px, transparent 0.9px),
        linear-gradient(to right, #101010 0.9px, #000000 0.9px);
    background-size: 18px 18px;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

p,h1,h2,h3 {
    color: white;
}
a{
    text-decoration: none;
}