[mysqld]
# Replication & GTID
server-id=2
log_bin=mysql-bin
binlog_format=row              # obligatorio para Debezium
gtid_mode=ON                   # habilita GTID
enforce-gtid-consistency=ON    # obligatorio para GTID
read_only=1                     # para slave
relay_log=/var/lib/mysql/mysql-relay-bin
log_slave_updates=ON            # para que los cambios aplicados al slave se registren
expire_logs_days=7              # opcional, limpieza de logs

# Performance & defaults
innodb_buffer_pool_size=128M
host-cache-size=0
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
pid-file=/var/run/mysqld/mysqld.pid

# Include other configs
!includedir /etc/mysql/conf.d/

[client]
socket=/var/run/mysqld/mysqld.sock
