@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto-bold;
  src: url("/fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
}
body,
root {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin: 0;
  position: relative;
  top: 0;
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  flex-direction: row;
  row-gap: 0.5px;
  flex-grow: 1.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header .right-items {  
  display: flex;  
  justify-content: flex-end;  
  gap: 10px; 
}

img {
  flex-basis: auto;
}
span:hover{
  transform: scale(1.2);
}

h1,
h2,
h3,
h4 {
  font-family: Roboto;
}
.carousel{
  height: 500px;
  width: 100%;
}
.material-symbols-outlined {
  font-size: 36px; 
  color: #bec0c3;  
  opacity: 0.6;
}
#title{
  opacity: 0.8;
  color: #8f8f8f;
  font-family: Roboto-bold;
}
.search{
  height: 70%;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 600px;
  border-radius: 20px;
  border: none;
  outline: 2px solid rgb(208, 208, 208);
}