body{
    background-color: #000000;
    opacity: 0.8;
    background-image:  linear-gradient(#101010 0.9px, transparent 0.9px), linear-gradient(to right, #101010 0.9px, #000000 0.9px);
    background-size: 18px 18px;
}